@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-xl border border-white/40 shadow-sm;
  }
  .glass-darker {
    @apply bg-[#2C2420]/5 backdrop-blur-md border border-[#2C2420]/5;
  }
}